<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title><%= title %></title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/xys/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/xys/stylesheets/style.css' />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
		.majorlist:hover{
			background-color:#00B7FF;
		}
		.majorlist{
			margin: 5px 0;
			height:100px;
			background-color:#5cb85c;
			text-align:center;
			line-height:100px;
		}
    </style>
  </head>
<body>

<div class="container" >
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <img src="../xys/images/szucsselogo.png" class="img-responsive" alt="">  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		  <!-- <div style="min-height: 70px;"></div> -->
        </div>
	</div>

	<div class="row" style=" padding:0 15px;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #00B7FF;text-align: center;font-size: 28px; line-height: 30px;">
			学困生帮扶
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<span class="pull-right"><a href="/xys/myhelpstu?what=what">我辅导的学生</a> | <a href="/xys/mychoose?what=what">我选择的学优生</a></span>
		</div>
	</div>

	<div class="row">
		<% majorlist.forEach(function(item){ %>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
			 <a href="/xys/majorstu?code=<%=item.code%>">
			  <div class="majorlist">
			  	<span class="glyphicon glyphicon-book" style="color:black;font-size:22px;"> <%=item.majorName%></span>
			  </div>
			 </a>
			</div>
		<% }) %>	
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px;">
			<span><strong style="color: red;">备注：</strong>完成选课后，可以自主选择上课地点。学校各处的自习室，文科楼、教学楼、理工楼、宿舍区的自习室、院楼4楼414及6楼的624小课室、学院8楼教职工之家、10楼的学生活动中心等都可以作为上课地点。(如需要在院楼的场所进行上课可联系辅导员进行申请。)</span>
		</div>
	</div>

	<div class="row" style="height: 20px;">
        <hr style="height:1px;border:none;border-top:1px dashed #5cb85c;" />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="text-align: center;">
            <span>2017 © 计算机与软件学院</span>
        </div>
    </div>

<!-- 	<div class="row text-center">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="page"></div>
		</div>
	</div> -->
</div>

    <script src="/xys/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/xys/javascripts/bootstrap.min.js"></script>
    <script src="/xys/javascripts/bootstrap-paginator.min.js"></script>
    <script type="text/javascript">   
	</script>
  </body>
</html>